<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidexpriment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidExpriment">
        <activity android:name=".view.TeacherShowPaperActivity"></activity>
        <activity android:name=".view.TeacherMakeItemActivity" />
        <activity android:name=".view.TeacherMakePaperActivity" />
        <activity android:name=".view.AboutTeacherActivity" />
        <activity android:name=".view.StudentWritePaperActivity" />
        <activity android:name=".view.StudentShowPaperActivity" />
        <activity android:name=".view.StudentExamRecordActivity" />
        <activity android:name=".view.TeacherLoginActivity" />
        <activity android:name=".view.StudentRegisterActivity" />
        <activity android:name=".view.AboutStudentActivity" />
        <activity android:name=".view.StudentLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>